[submodule "backend"]
	path = backend
	url = https://github.com/RobinJuul/intern-decision-engine-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/RobinJuul/intern-decision-engine-frontend.git
